.App {
}
* {
}
body {
  background-color: hsl(220, 15%, 55%);
}

.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 400px;
  margin: 200px auto;
  position: relative;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
}
.column-first-qr > img {
  width: 250px;
  height: 250px;
}
.column-second-text {
  text-align: center;
  background-color: (212, 45%, 89%);
}
.row-text-header {
  text-align: center;
  line-height: 0;
  color: hsl(218, 44%, 22%);
}
.row-text {
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
  /* text-align: center; */
  /* padding: 10px 75px; */
  /* border-radius: 20%; */
  border-radius: 10%;
  /* text-align: center; */
}
